@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Nova+Script&display=swap');
/*SELECTOR*/
#upbtn {  
    background: url(../assets/up-arrow.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    position: fixed;
    top: 600px;
    border-radius: 50%;
    margin: 20px;
    border: white 2px solid;
    box-shadow: 8px 5px 8px black;
}

#downbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background: green;
    position: fixed;
    top: 600px;
    right: 0px;
    border-radius: 50%;
    margin: 20px;
    border: white 2px solid;
    box-shadow: 8px 5px 8px black;
    color: white;
}

/*NAVBAR*/
.dropdown-btn {
    display: none;
 }
 .dropdown {
     background-color: var(--color-06);
     position: fixed;
     width: 100%;
     box-shadow: 0px 6px 10px black;
 }
 .dropdown-content {
     display: flex;
     justify-content: space-evenly;
     padding: 0;
     border-bottom: 1px white solid;
 }
 .dropdown-content > a {
     font-family: 'Nova Script', cursive;
     text-transform: uppercase;
     color: white;
     text-decoration: none;
     font-size: 20px;
     padding: 15px 20px;
 }
 .dropdown-content > a:hover {
     font-size: 30px;
     background: rgba(0, 0, 0, 0.2);
 }
 
/* FORMULARIO */
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
}
.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.forms__input {
    display: grid;
    grid-template-areas:
      'Nombre Nombre Apellido Apellido'
      'Telefono Telefono Localidad Localidad'
      'textarea textarea textarea textarea';
    grid-gap: 10px;
}
.name { 
    grid-area: Nombre;
    display: flex;
    flex-direction: column;
}
.lastname { 
    grid-area: Apellido; 
    display: flex;
    flex-direction: column;
}
.phone { 
    grid-area: Telefono; 
    display: flex;
    flex-direction: column;
}
.city { 
    grid-area: Localidad; 
    display: flex;
    flex-direction: column;
}
.comments { 
    grid-area: textarea;
    display: flex;
    flex-direction: column;
}
.comments > textarea {
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 100px;
}
.form_btn {
    width: 200px;
    height: 40px;
    background: var(--color-06);
    color: white;
    border: none;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 30px;
}
.form_btn:hover {
    background: rgb(139, 4, 4);
    width: 210px;
    height: 50px;
}
.form_btn[value] {
    font-size: 25px;
}
#input {
    background: #333;
    border: 1px white solid;
    color: white;
}
label {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;

}

/* MAPA */
.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maps > p > a {
    font-size: 25px;
    color: white;
    text-decoration: none;

}
.maps > p {
    margin: 5px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}

/*SOCIAL*/
.social__title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__title > h2 {
    font-family: 'Lobster', cursive;
    letter-spacing: 10px;
    font-size: 70px;
    border-bottom: 1px solid white;
    padding: 10px 100px;
    margin-bottom: 30px;
}
.social__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: var(--color-07);
}
.social__cont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}
.social__wp {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 8px;
}
.social__dire {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 8px;
}
.social__linked {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.fa {
    border-radius: 50%;
    border: 2px white solid;
    padding: 12px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 16px;
    font-size: 40px !important;

} 
.fa:hover {
    background: rgba(0, 0, 0, 0.5);
    border: 5px white double;
}
.fa-facebook {
    /*background: #3B5998;*/
    color: white;
}
.fa-youtube {
    /*background: #bb0000;*/
    color: white;
} 
.fa-instagram {
    /*background: #f64ad1;*/
    color: white;
}
.social__wp > .fab {
    font-size: 50px;
}
.social__dire > .fas {
    font-size: 50px;
}

/*FOOTER*/
.footer {
    display: flex;
    font-size: 15px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    height: 60px;
    gap: 17px;
    border-top: solid white 1px;
    background: var(--color-06);
}
.dr {
    letter-spacing: 5px;
    border-right: 2px white solid;
}
.footer_txt > h2 {
    font-family: 'Indie Flower', cursive;
    margin: 0 10px;
    color: white;
}


/*Media queries*/
@media screen and (max-width: 710px) { 
 /*NAVBAR*/  
    .dropdown-btn {
        display: initial;
        font-size: 20px;
        cursor: pointer;
        color: white;
        padding: 10px;
        margin: 0%;
        background: var(--color-06);
        border-bottom: 1px white solid;
        box-shadow: 0px 6px 10px black;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100%;
        position: fixed;
    }
    .dropdown {
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown-content {
        display: none;
        top: 35px;
        background-color: var(--color-06);
        opacity: 70%;
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 0;
        z-index: 1;
        position: fixed;

    }
    .dropdown-content a {
        color: white;
        padding: 12px 30px;
        display: block;
    }
    .dropdown-content a:hover {
        background: rgba(0, 0, 0, 0.2);
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dd > a {
        font-family: 'Nova Script', cursive;
        text-transform: uppercase;
        text-decoration: none;
    }
    /*FORMULARIO*/
    .forms__input {
        display: grid;
        grid-template-areas:
          'Nombre'
          'Apellido'
          'Telefono'
          'Localidad'
          'textarea';
        grid-gap: 10px;
        width: 300px;
    }
    #input {
        padding: 10px;

    }
    /*SOCIAL*/
    .social__title > h2 {
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 50px;
        border-bottom: 1px solid white;
        padding: 10px 10px;
        margin-bottom: 30px;
    }
 
}